__pycache__/
*.pyc
build/
dist/
*.egg-info/
.venv/
*.deb
*.rpm
*.pkg.tar.zst
windows/bin/
windows/obj/
macos/.build/
android/.gradle/
android/build/
android/app/build/
android/local.properties
.androidsdk/
android/local.properties
android/.gradle/
