[Desktop Entry]
Type=Application
Name=Lost Island
GenericName=Dynamic Island
Comment=A Dynamic Island for your Linux desktop
Exec=lost-island
Icon=lost-island
Terminal=false
Categories=Utility;
Keywords=island;notch;widget;media;osd;
X-GNOME-UsesNotifications=true
StartupNotify=false
